

body{
    width: 50%;
}

header h1{
    text-align: center;
    text-transform: uppercase;
}

header h2 {
    text-align: center;
}

figure{
    float:none; 
}

img{
   max-width: 50%;
}


p{
    text-indent: 2%;
    max-width: 30ch;
}

figure {
    border: .5em solid rgb(18, 20, 19);
    padding: 5%;
}


img.scaled{
    width: 50%;
  }

figcaption{
    font-size: smaller;
    max-width: 25ch;
}



.go-left{
    float: none;
    margin-right: 1em;
}
.go-right{
    float: none;
    margin-right: 1em;
}

nav a{
    width: 20%;
}


table{
    border: 7em;
  }


ol{
    margin-left: 20%;
}

.button:hover{
  border: .5em;
  border-radius: 10em;
  box-shadow: 2.5em 2.5em 2.5em rgb(14, 54, 19);
}

input[type="radio"]{
    width: 1em;
    height: 1em;
    background-color: green;   
}

input[type="checkbox"] {
    width: 1em;
    height: 1em;
    border-radius: 1em;
}

input[type="text"]{
    width: 100%;
    padding: 6em 30em;
    margin: 5em;
  }

  .radio{
    font-size: smaller;
  }

  .checkbox{
    font-size: smaller;
  }

  .activePage{
    background-color: #175a0e;
}

video{
    width: 30%;
    height:380px;
    background-color:black;
  
}

.marquee {
    display: block;
    max-height: 20%;
    background: #fefefe;
    color: #333;
    border: 1em solid whitesmoke;
}
